In [7]:
pip install yfinance

Requirement already satisfied: yfinance in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (0.1.68)
Requirement already satisfied: lxml>=4.5.1 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from yfinance) (4.7.1)
Requirement already satisfied: numpy>=1.15 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from yfinance) (1.22.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from yfinance) (1.3.5)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (3.5.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (9.0.0)
Requirement already satisfied: cycler>=0.10 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (3.0.6)
Requirement already satisfied: numpy>=1.17 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (1.22.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from matplotlib) (4.28.5)
Requirement already satisfied: six>=1.5 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [70]:
aapl = yf.Ticker('AAPL')

In [71]:
days = 20
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0,0
2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0,0
2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0,0
2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0,0
2021-12-22,173.039993,175.860001,172.149994,175.639999,92135300,0,0
2021-12-23,175.850006,176.850006,175.270004,176.279999,68356600,0,0
2021-12-27,177.089996,180.419998,177.070007,180.330002,74919600,0,0
2021-12-28,180.160004,181.330002,178.529999,179.289993,79144300,0,0
2021-12-29,179.330002,180.630005,178.139999,179.380005,62348900,0,0
2021-12-30,179.470001,180.570007,178.089996,178.199997,59773000,0,0
2021-12-31,178.089996,179.229996,177.259995,177.570007,64025500,0,0
2022-01-03,177.830002,182.880005,177.710007,182.009995,104487900,0,0
2022-01-04,182.630005,182.940002,179.119995,179.699997,99310400,0,0
2022-01-05,179.610001,180.169998,174.639999,174.919998,94537600,0,0
2022-01-06,172.699997,175.300003,171.639999,172.000000,96904000,0,0
2022-01-07,172.889999,174.139999,171.029999,172.169998,86580100,0,0
2022-01-10,169.080002,172.500000,168.169998,172.190002,106606900,0,0
2022-01-11,172.320007,175.179993,170.820007,175.080002,76138300,0,0
2022-01-12,176.119995,177.179993,174.820007,175.529999,74805200,0,0
2022-01-13,175.779999,176.619995,171.789993,172.190002,83990300,0,0

In [72]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [36]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0,0
1,2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0,0
2,2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0,0
3,2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0,0
4,2021-12-22,173.039993,175.860001,172.149994,175.639999,92135300,0,0
5,2021-12-23,175.850006,176.850006,175.270004,176.279999,68356600,0,0
6,2021-12-27,177.089996,180.419998,177.070007,180.330002,74919600,0,0
7,2021-12-28,180.160004,181.330002,178.529999,179.289993,79144300,0,0
8,2021-12-29,179.330002,180.630005,178.139999,179.380005,62348900,0,0
9,2021-12-30,179.470001,180.570007,178.089996,178.199997,59773000,0,0
10,2021-12-31,178.089996,179.229996,177.259995,177.570007,64025500,0,0
11,2022-01-03,177.830002,182.880005,177.710007,182.009995,104487900,0,0
12,2022-01-04,182.630005,182.940002,179.119995,179.699997,99310400,0,0
13,2022-01-05,179.610001,180.169998,174.639999,174.919998,94537600,0,0
14,2022-01-06,172.699997,175.300003,171.639999,172.000000,96904000,0,0
15,2022-01-07,172.889999,174.139999,171.029999,172.169998,86580100,0,0
16,2022-01-10,169.080002,172.500000,168.169998,172.190002,106606900,0,0
17,2022-01-11,172.320007,175.179993,170.820007,175.080002,76138300,0,0
18,2022-01-12,176.119995,177.179993,174.820007,175.529999,74805200,0,0
19,2022-01-13,175.779999,176.619995,171.789993,172.190002,83990300,0,0

In [73]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-16,335.709991,336.760010,323.019989,324.899994,35034800,0,0
2021-12-17,320.880005,324.920013,317.250000,323.799988,47750300,0,0
2021-12-20,320.049988,322.799988,317.570007,319.910004,28326500,0,0
2021-12-21,323.290009,327.730011,319.799988,327.290009,24740600,0,0
2021-12-22,328.299988,333.609985,325.750000,333.200012,24831500,0,0

In [74]:
pd.concat([hist, hist_msft], axis=1).head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0,0,335.709991,336.760010,323.019989,324.899994,35034800,0,0
2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0,0,320.880005,324.920013,317.250000,323.799988,47750300,0,0
2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0,0,320.049988,322.799988,317.570007,319.910004,28326500,0,0
2021-12-21,171.559998,173.199997,169.119995,172.990005,91185900,0,0,323.290009,327.730011,319.799988,327.290009,24740600,0,0
2021-12-22,173.039993,175.860001,172.149994,175.639999,92135300,0,0,328.299988,333.609985,325.750000,333.200012,24831500,0,0

In [75]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-16,179.279999,181.139999,170.750000,172.259995,150185800,0,0
2021-12-17,169.929993,173.470001,169.690002,171.139999,195432700,0,0
2021-12-20,168.279999,170.580002,167.460007,169.750000,107499100,0,0

In [76]:
hist.index

DatetimeIndex(['2021-12-16', '2021-12-17', '2021-12-20', '2021-12-21',
               '2021-12-22', '2021-12-23', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-03',
               '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
               '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [78]:
hist.index = hist.index.strftime('%d %B %Y')

In [81]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                       apple
Date
16 December 2021  172.259995
17 December 2021  171.139999
20 December 2021  169.750000
21 December 2021  172.990005
22 December 2021  175.639999

In [86]:
hist = hist.T
hist

Date,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022,07 January 2022,10 January 2022,11 January 2022,12 January 2022,13 January 2022
apple,172.259995,171.139999,169.75,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.0,172.169998,172.190002,175.080002,175.529999,172.190002

In [105]:
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'amazon': 'AMZN'
}

def get_data(days,tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
    #company = 'facebook'
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        df = pd.concat([df, hist])
    return df

In [ ]:
days = 20
get_data(days, tickers)

Date,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022,07 January 2022,10 January 2022,11 January 2022,12 January 2022,13 January 2022,14 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000,172.169998,172.190002,175.080002,175.529999,172.190002,172.910004
facebook,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991,331.790009,328.070007,334.369995,333.260010,326.480011,328.542999
google,2834.500000,2832.139893,2869.449951,2928.300049,2938.330078,2958.129883,2933.739990,2933.100098,2924.010010,2897.040039,2899.830078,2887.989990,2755.500000,2754.949951,2740.340088,2773.389893,2794.719971,2828.610107,2771.739990,2811.709961
microsoft,323.799988,319.910004,327.290009,333.200012,334.690002,342.450012,341.250000,341.950012,339.320007,336.320007,334.750000,329.010010,316.380005,313.880005,314.040009,314.269989,314.980011,318.269989,304.799988,308.959015
amazon,3400.350098,3341.580078,3408.340088,3420.739990,3421.370117,3393.389893,3413.219971,3384.020020,3372.889893,3334.340088,3408.090088,3350.439941,3287.139893,3265.080078,3251.080078,3229.719971,3307.239990,3304.139893,3224.280029,NaN

In [108]:
pip install altair

Collecting altair
  Using cached altair-4.2.0-py3-none-any.whl (812 kB)
Requirement already satisfied: jsonschema>=3.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from altair) (4.4.0)
Collecting toolz
  Using cached toolz-0.11.2-py3-none-any.whl (55 kB)
Requirement already satisfied: entrypoints in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: pandas>=0.18 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from altair) (1.3.5)
Requirement already satisfied: jinja2 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from altair) (3.0.3)
Requirement already satisfied: numpy in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from altair) (1.22.0)
Requirement already satisfied: importlib-resources>=1.4.0; python_version < "3.9" in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (5.4.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: pytz>=2017.3 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from pandas>=0.18->altair) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from pandas>=0.18->altair) (2.8.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from importlib-resources>=1.4.0; python_version < "3.9"->jsonschema>=3.0->altair) (3.7.0)
Requirement already satisfied: six>=1.5 in /Users/apple/.local/share/virtualenvs/stock-price-uKqw1tgs/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair) (1.16.0)
Installing collected packages: toolz, altair
Successfully installed altair-4.2.0 toolz-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [109]:
import altair as alt

In [110]:
df

Date,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022,07 January 2022,10 January 2022,11 January 2022,12 January 2022,13 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.259995,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000,172.169998,172.190002,175.080002,175.529999,172.190002
facebook,334.899994,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991,331.790009,328.070007,334.369995,333.260010,326.480011
google,2888.899902,2834.500000,2832.139893,2869.449951,2928.300049,2938.330078,2958.129883,2933.739990,2933.100098,2924.010010,2897.040039,2899.830078,2887.989990,2755.500000,2754.949951,2740.340088,2773.389893,2794.719971,2828.610107,2771.739990
microsoft,324.899994,323.799988,319.910004,327.290009,333.200012,334.690002,342.450012,341.250000,341.950012,339.320007,336.320007,334.750000,329.010010,316.380005,313.880005,314.040009,314.269989,314.980011,318.269989,304.799988
amazon,3377.419922,3400.350098,3341.580078,3408.340088,3420.739990,3421.370117,3393.389893,3413.219971,3384.020020,3372.889893,3334.340088,3408.090088,3350.439941,3287.139893,3265.080078,3251.080078,3229.719971,3307.239990,3304.139893,3224.280029

In [128]:
companies = ['apple', 'facebook']
data = df.loc[companies]
data

Date,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022,07 January 2022,10 January 2022,11 January 2022,12 January 2022,13 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.259995,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000,172.169998,172.190002,175.080002,175.529999,172.190002
facebook,334.899994,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991,331.790009,328.070007,334.369995,333.260010,326.480011

In [129]:
data.sort_index()

Date,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022,07 January 2022,10 January 2022,11 January 2022,12 January 2022,13 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,172.259995,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000,172.169998,172.190002,175.080002,175.529999,172.190002
facebook,334.899994,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991,331.790009,328.070007,334.369995,333.260010,326.480011

In [130]:
data = data.T.reset_index()
data.head()

Name              Date       apple    facebook
0     16 December 2021  172.259995  334.899994
1     17 December 2021  171.139999  333.790009
2     20 December 2021  169.750000  325.450012
3     21 December 2021  172.990005  334.200012
4     22 December 2021  175.639999  330.450012

In [131]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns={'value': 'Stock Prices(USD)'}
)
data

                Date      Name  Stock Prices(USD)
0   16 December 2021     apple         172.259995
1   17 December 2021     apple         171.139999
2   20 December 2021     apple         169.750000
3   21 December 2021     apple         172.990005
4   22 December 2021     apple         175.639999
5   23 December 2021     apple         176.279999
6   27 December 2021     apple         180.330002
7   28 December 2021     apple         179.289993
8   29 December 2021     apple         179.380005
9   30 December 2021     apple         178.199997
10  31 December 2021     apple         177.570007
11   03 January 2022     apple         182.009995
12   04 January 2022     apple         179.699997
13   05 January 2022     apple         174.919998
14   06 January 2022     apple         172.000000
15   07 January 2022     apple         172.169998
16   10 January 2022     apple         172.190002
17   11 January 2022     apple         175.080002
18   12 January 2022     apple         175.529999
19   13 January 2022     apple         172.190002
20  16 December 2021  facebook         334.899994
21  17 December 2021  facebook         333.790009
22  20 December 2021  facebook         325.450012
23  21 December 2021  facebook         334.200012
24  22 December 2021  facebook         330.450012
25  23 December 2021  facebook         335.239990
26  27 December 2021  facebook         346.179993
27  28 December 2021  facebook         346.220001
28  29 December 2021  facebook         342.940002
29  30 December 2021  facebook         344.359985
30  31 December 2021  facebook         336.350006
31   03 January 2022  facebook         338.540009
32   04 January 2022  facebook         336.529999
33   05 January 2022  facebook         324.170013
34   06 January 2022  facebook         332.459991
35   07 January 2022  facebook         331.790009
36   10 January 2022  facebook         328.070007
37   11 January 2022  facebook         334.369995
38   12 January 2022  facebook         333.260010
39   13 January 2022  facebook         326.480011

In [141]:
ymin, ymax = 100, 500

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin, ymax])),
        color='Name:N'
    )
)

In [142]:
chart

alt.Chart(...)